%h2 Edit Book

= form_tag book_path(@book), :method => :put do

  = label :book, :title, 'Title'
  = text_field :book, 'title'

  = label :book, :genre, 'Genre'
  = select :book, :genre, ['DRAMA','ART','ANIME','LOVE', 'TECHNICAL']
 
  = label :book, :publish_date, 'Published On'
  = date_select :book, :publish_date, { start_year: 700.years.ago.year, end_year: Date.today.year, default: Date.today}
  
  = label :book, :isbn, 'ISBN'
  = text_field :book, :isbn
  
  = label :book, :description, 'Description'
  = text_field :book, :description
  
  = label :book, :author, 'Author'
  = text_field :book, 'author'

  = submit_tag 'Update Book Info'